.header
  %h1 Resend confirmation instructions

.content
  = form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: [ 'pure-form', 'pure-form-stacked' ] } do |f|
    = devise_error_messages!

    .field.pure-control-group
      = f.label :email
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: [ 'pure-input-1-2' ]

    .actions.pure-controls
      = f.submit "Resend confirmation instructions", class: [ 'pure-button', 'pure-button-primary' ]

  = render "devise/shared/links"
