.header
  %h1 Edit #{resource_name.to_s.humanize}

.content
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: [ 'pure-form', 'pure-form-stacked' ] } do |f|
    = devise_error_messages!

    .field.pure-control-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: [ 'pure-input-1-2' ]

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .field.pure-control-group
      = f.label :password do
        New Password
        (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off", class: [ 'pure-input-1-3' ]

    .field.pure-control-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: [ 'pure-input-1-3' ]

    .field.pure-control-group
      = f.label :current_password do
        Current Password
        %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off", class: [ 'pure-input-1-2' ]

    .actions.pure-controls
      = f.submit "Update", class: [ 'pure-button', 'pure-button-primary' ]

  %h2.content-subhead Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: [ 'pure-button' ]}

  = link_to "Back", :back
