.header
  %h1 Register
  %br

.content
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: [ 'pure-form', 'pure-form-stacked' ] } do |f|
    = devise_error_messages!

    .field.pure-control-group
      = f.label :email, 'E-Mail Address'
      = f.email_field :email, autofocus: true, class: [ 'pure-input-1-2' ]

    .field.pure-control-group
      = f.label :password do
        Password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "off"

    .field.pure-control-group
      = f.label :password_confirmation, 'Re-enter password'
      = f.password_field :password_confirmation, autocomplete: "off"

    .actions.pure-controls
      = f.submit "Register", class: [ 'pure-button', 'pure-button-primary' ]

  = render "devise/shared/links"
