.header
  %h1 Resend unlock instructions

.content
  = form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: [ 'pure-form', 'pure-form-aligned' ] } do |f|
    = devise_error_messages!

    .field.pure-control-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: [ 'pure-intput-1-2' ]

    .actions.pure-controls
      = f.submit "Resend unlock instructions", class: [ 'pure-button', 'pure-button-primary' ]

  = render "devise/shared/links"
