.header
  %h1 Change your password

.content
  = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: [ 'pure-form', 'pure-form-aligned' ] } do |f|
    = devise_error_messages!

    = f.hidden_field :reset_password_token

    .field.pure-control-group
      = f.label :password, "New password"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autofocus: true, autocomplete: "off", class: [ 'pure-input-1-3' ]

    .field.pure-control-group
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "off", class: [ 'pure-input-1-3' ]

    .actions.pure-controls
      = f.submit "Change my password", class: [ 'pure-button', 'pure-button-primary' ]

  = render "devise/shared/links"
