.header
  %h1 Forgot your password?

.content
  = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: [ 'pure-form', 'pure-form-stacked' ] } do |f|
    = devise_error_messages!

    .field.pure-control-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: [ 'pure-input-1-2' ]

    .actions.pure-controls
      = f.submit "Send me reset password instructions", class: [ 'pure-button', 'pure-button-primary' ]

  = render "devise/shared/links"
