= form_for @scheduled_task, html: { class: [ 'pure-form', 'pure-form-aligned' ] } do |f|
  - if @scheduled_task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scheduled_task.errors.count, "error")} prohibited this scheduled_task from being saved:"
      %ul
        - @scheduled_task.errors.full_messages.each do |msg|
          %li= msg

  .field.pure-control-group
    = f.label :recurring, 'Recurring?'
    = f.check_box :recurring

  .field.pure-control-group
    = f.label :quantity, 'Frequency'
    = f.text_field :quantity, class: [ 'pure-input-1-4' ]
    = f.select :period, periods.map(&:to_s).map(&:capitalize).map(&:pluralize).map(&:to_s).zip(periods)

  .field.pure-control-group
    = f.label :name, 'Task Name'
    = f.text_field :name, class: [ 'pure-input-1-3' ]

  .field.pure-control-group
    = f.label :klass, 'Job Class'
    = f.select :klass, jobs

  = react_component 'TaskArguments', { className: 'pure-input-1-2', 'formName': 'scheduled_task', arguments: @scheduled_task.args || [] }

  .field.pure-control-group
    = f.label :at, 'At (HH:MM)'
    = f.text_field :at, class: [ 'pure-input-1-3' ]

  .field.pure-control-group
    = f.label :tz, 'Time Zone'
    = f.text_field :tz, class: [ 'pure-input-1-3' ]

  .field.pure-control-group
    = f.label :not_before
    = f.datetime_local_field :not_before

  .field.pure-control-group
    = f.label :not_after
    = f.datetime_local_field :not_after

  .actions.pure-controls
    = f.submit 'Save', class: [ 'pure-button' ]
