.header
  %h1 Editing Scheduled Task
  %h2= @scheduled_task.name

.content
  .subnav
    =link_to scheduled_tasks_path, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-arrow-circle-up= ''
      Up

    =link_to @scheduled_task, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-tasks= ''
      Show

  = render 'form'
