.header
  %h1 Scheduled Tasks
  %br

.content
  .subnav
    =link_to new_scheduled_task_path, class: [ 'pure-button', 'pure-button-primary' ] do
      %i.fa.fa-lg.fa-plus-circle= ''
      New Task

  %table.pure-table.pure-table-horizontal
    %thead
      %tr
        %th Name
        %th Job Class
        %th Recurring?
        %th At?
        %th Time Zone
        %th Last Executed
        %th
        %th
        %th

    %tbody
      - @scheduled_tasks.each do |scheduled_task|
        %tr
          %td= scheduled_task.name
          %td= scheduled_task.klass
          %td
            - if scheduled_task.recurring?
              Yes, every #{scheduled_task.recurring_interval}
            - else
              No
          %td= scheduled_task.at
          %td= scheduled_task.tz
          %td
            - if scheduled_task.executed_at?
              =scheduled_task.executed_at.strftime('%B %-e, %Y %H:%M%p')
            - else
              (never)
          %td= link_to 'Show', scheduled_task
          %td= link_to 'Edit', edit_scheduled_task_path(scheduled_task)
          %td= link_to 'Destroy', scheduled_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

