.header
  %h1 Create a Scheduled Task
  %br

.content
  .subnav
    =link_to scheduled_tasks_path, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-arrow-circle-left= ''
      Back

  = render 'form'
