.header
  %h1= @scheduled_task.name
  %h2 Scheduled Tasks

.content
  .subnav
    =link_to scheduled_tasks_path, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-arrow-circle-up= ''
      Up

    =link_to edit_scheduled_task_path(@scheduled_task), class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-edit= ''
      Edit

    =link_to @scheduled_task, method: :delete, data: { :confirm => 'Are you sure?' }, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-times-circle= ''
      Delete

    =link_to clear_scheduled_task_execution_path(@scheduled_task), method: :post, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-clock-o= ''
      Clear Execution

  %table.pure-table.pure-table-horizontal
    %tbody
      %tr
        %td
          %b Name
        %td
          = @scheduled_task.name

      %tr
        %td
          %b Job Class
        %td
          = @scheduled_task.klass

      %tr
        %td
          %b Recurring?
        %td
          - if @scheduled_task.recurring?
            %b
              Yes, every #{@scheduled_task.recurring_interval}
          - else
            No

      %tr
        %td
          %b Job Arguments
        %td
          - if not @scheduled_task.args.blank?
            %pre= @scheduled_task.args
          - else
            (no arguments)

      %tr
        %td
          %b At
        %td
          - if not @scheduled_task.at.blank?
            = @scheduled_task.at
          - else
            (no specific time)

      %tr
        %td
          %b Time Zone
        %td
          = @scheduled_task.tz

      %tr
        %td
          %b Don't Run Before
        %td
          = @scheduled_task.not_before

      %tr
        %td
          %b Don't Run After
        %td
          = @scheduled_task.not_after

      %tr
        %td
          %b Last Executed At
        %td
          - if @scheduled_task.executed_at?
            = @scheduled_task.executed_at.strftime('%B %-e, %Y %H:%M:%S %p')
          - else
            (never)

