server {
  listen 80;
  listen [::]:80;
  server_name <%= fetch(:vhost) %>;

  access_log /var/log/nginx/<%= fetch(:vhost) %>-access_log combined;
  error_log /var/log/nginx/<%= fetch(:vhost) %>-error_log warn;

  root /apps/<%= fetch(:application) %>/current/public;
  try_files $uri/index.html $uri.html $uri @app;

  client_max_body_size 10m;
  client_body_buffer_size 8K;
  client_header_buffer_size 1k;
  large_client_header_buffers 4 8k;

  location @app {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded_Proto $scheme;
    proxy_redirect off;
    proxy_pass http://app_<%= fetch(:application).gsub('-', '_') %>;
    proxy_read_timeout 60s;
    proxy_send_timeout 60s;
  }

  error_page 500 502 503 504 /500.html;
  location = /500.html {
    root /apps/<%= fetch(:application) %>/public;
  }

  include conf.d/cloudflare.partial;
}

upstream app_<%= fetch(:application).gsub('-', '_') %> {
  server localhost:<%= fetch(:port) %>;
}
