.header
  %h1 Login
  %br

.content
  = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: [ 'pure-form', 'pure-form-stacked' ] } do |f|
    .field.pure-control-group
      = f.label :email, 'E-Mail Address'
      = f.email_field :email, autofocus: true, class: [ 'pure-input-1-2' ]

    .field.pure-control-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: [ 'pure-input-1-2' ]

    - if devise_mapping.rememberable?
      .field.pure-control-group
        = f.check_box :remember_me
        Remember Me

    .actions.pure-controls
      = f.submit "Login", class: [ 'pure-button', 'pure-button-primary' ]

  = render "devise/shared/links"
