= form_for <%= singular_table_name %>, html: { class: [ 'pure-form', 'pure-form-aligned' ] } do |f|
  - if <%= singular_table_name %>.errors.any?
    #error_explanation
      %h2= "#{pluralize(<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"
      %ul
        - <%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .field.pure-control-group
    = f.label :<%= attribute.name %>, '<%= attribute.human_name.titlecase %>'
    = f.<%= attribute.field_type %> :<%= attribute.name %>

<% end -%>
  .actions.pure-controls
    = f.submit 'Save', class: [ 'pure-button', 'pure-button-primary' ]
