.header
  %h1 Editing <%= singular_table_name.capitalize %>
  %br

.content
  .subnav
    =link_to <%= index_helper %>_path, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-arrow-circle-up= ''
      Up

    =link_to <%= singular_table_name %>, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-tasks= ''
      Show

  = render 'form'
