.header
  %h1 <%= plural_table_name.capitalize %>
  %br

.content
  .subnav
    = link_to new_<%= singular_table_name %>_path, class: [ 'pure-button', 'pure-button-primary' ] do
      %i.fa.fa-lg.fa-plus-circle= ''
      New <%= human_name.titlecase %>

  %table.pure-table.pure-table-horizontal
    %thead
      %tr
<% for attribute in attributes -%>
        %th <%= attribute.human_name.titlecase %>
<% end -%>
        %th
        %th
        %th

    %tbody
      - <%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
<% for attribute in attributes -%>
          %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>

          %td
            = link_to <%= singular_table_name %> do
              %i.fa.fa-lg.fa-fw.fa-search.color-aqua= ''

          %td
            = link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>) do
              %i.fa.fa-lg.fa-fw.fa-edit.color-yellow= ''

          %td
            = link_to <%= singular_table_name %>, method: :delete, data: { confirm: "Are you sure you want to delete <%= human_name.downcase %> ##{<%= singular_table_name %>.id}?" } do
              %i.fa.fa-lg.fa-fw.fa-trash.color-red= ''

  %br
