.header
  %h1 Create a New <%= human_name.titlecase %>
  %br

.content
  .subnav
    =link_to <%= index_helper %>_path, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-arrow-circle-left= ''
      Back

  = render 'form'

