.header
  %h1= <%= singular_table_name %>.id
  %br
  %h2 <%= human_name.titlecase %>

.content
  .subnav
    = link_to <%= index_helper %>_path, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-arrow-circle-up= ''
      Up

    = link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-edit= ''
      Edit

    = link_to <%= singular_table_name %>, method: :delete, data: { confirm: "Are you sure you want to delete <%= human_name.downcase %> ##{<%= singular_table_name %>.id}?" }, class: [ 'pure-button' ] do
      %i.fa.fa-lg.fa-times-circle= ''
      Delete

  %table.pure-table.pure-table-horizontal
    %tbody
<% for attribute in attributes -%>
      %tr
        %td
          %b <%= attribute.human_name.titlecase %>

        %td
          = <%= singular_table_name %>.<%= attribute.name %>

<% end -%>

