/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import colors

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body, input, th, td, h2, h3, h4, h5, h6, select, textarea, button, .pure-g [class *= "pure-u"]
  font-family: "Helvetica Neue", helvetica, verdana, arial

body
  color: #777

.pure-button-primary:visited
  color: #fff

.subnav
  margin-bottom: 1em

  .pure-button
    color: #000

    &:hover
      color: #fff

  .pure-button-primary
    color: #fff

.pure-img-responsive
  max-width: 100%
  height: auto

#container, #menu, .menu-link
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out

#container
  position: relative
  padding-left: 0

  &.active
    #menu
      left: 150px
      width: 150px

    .menu-link
      left: 150px

.content
  padding: 0 2em
  margin-bottom: 50px
  line-height: 1.6em

.header
  margin: 0
  color: #333
  padding: 2.5em 2em 0
  border-bottom: 1px solid #eee
  margin-bottom: 1em

  & h1
    margin: 0.2em 0
    font-size: 3em
    font-weight: 300

  & h2
    font-weight: 300
    color: #ccc
    padding: 0
    margin-top: 0

.content-subhead
  margin: 50px 0 20px 0
  font-weight: 300
  color: #888

#menu
  margin-left: -150px
  width: 150px
  position: fixed
  top: 0
  left: 0
  bottom: 0
  z-index: 1000
  background: #191818
  overflow-y: auto
  -webkit-overflow-scrolling: touch

  & a
    color: #999
    border: none
    padding: 0.6em 0 0.6em 0.6em

  & .pure-menu
    &, & ul
      border: none
      background: transparent

    & ul, & .menu-item-divided
      border-top: 1px solid #333

    & li a:hover, & li a:focus
      background: #333

  & .pure-menu-selected, & .pure-menu-heading
    background: #1f8dd6

  & .pure-menu-selected a
    color: #fff

  & .pure-menu-heading
    font-size: 110%
    color: #fff
    margin: 0

.menu-link
  position: fixed
  display: block
  top: 0
  left: 0
  background: #000
  background: rgba(0, 0, 0, 0.7)
  font-size: 10px
  z-index: 10
  width: 2em
  height: auto
  padding: 2.1em 1.6em

  &:hover, &:focus
    background: #000

  & span
    position: relative
    display: block

    &, &:before, &:after
      background-color: #fff
      width: 100%
      height: 0.2em

    &:before, &:after
      position: absolute
      margin-top: -0.6em
      content: " "

    &:after
      margin-top: 0.6em

@media (min-width: 48em)
  .header, .content
    padding-left: 2em
    padding-right: 2em

  #container
    padding-left: 150px
    left: 0

  #container.unauth
    padding-left: 0px

  #menu
    left: 150px

  .menu-link
    position: fixed
    left: 150px
    display: none

  #container.active .menu-link
    left: 150px

@media (max-width: 48em)
  #container.active
    position: relative
    left: 150px
