%a#menuLink.menu-link{ href: '#menu' }
  %span= ''

#menu
  .pure-menu
    %a.pure-menu-heading{ href: '#' }= 'NewApp'

    %ul.pure-menu-list
      %li.pure-menu-item
        =link_to root_path, { class: [ 'pure-menu-link' ] } do
          Home

    %ul.pure-menu-list
      %li.pure-menu-item
        =link_to scheduled_tasks_path, { class: [ 'pure-menu-link' ] } do
          Scheduled Tasks
