!!!
%html
  %head
    %title= "NewApp: " + (content_for?(:title) ? yield(:title) : 'Default App Title') + (Rails.env.development? ? ' (development)' : '')
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
    =stylesheet_link_tag    'http://yui.yahooapis.com/pure/0.6.0/pure-min.css', media: 'all'.freeze
    =stylesheet_link_tag    'http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css', media: 'all'.freeze
    =stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all'.freeze
    =stylesheet_link_tag    'application', media: 'all'.freeze, 'data-turbolinks-track' => true
    =stylesheet_link_tag    'chosen', media: 'all'.freeze, 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags

  %body
    #container
      = render 'nav'

      #main
        = render 'messages'

        =yield
